<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Detail pour la formation selectionnée :</mat-card-title>
        <mat-card-content>
            <div fxLayout="column wrap" fxLayoutGap="40px">
                <div fxLayout="row wrap" fxFlex>
                    <div fxFlex><strong>Le Titre du formation</strong></div>
                    <div fxFlex></div>
                </div>

                <div fxLayout="row wrap" fxFlex>
                    <div fxFlex><strong>Date de début du formation</strong></div>
                    <div fxFlex></div>
                </div>

                <div fxLayout="row wrap" fxFlex>
                    <div fxFlex><strong>Date de fin du formation</strong></div>
                    <div fxFlex></div>
                </div>

                <div fxLayout="row wrap" fxFlex>
                    <div fxFlex><strong>Nb Hours</strong></div>
                    <div fxFlex></div>
                </div>

                <div fxLayout="row wrap" fxFlex>
                    <div fxFlex><strong>Nb Subscribers</strong></div>
                    <div fxFlex></div>
                </div>

                <div fxLayout="row wrap" fxFlex>
                    <div fxFlex><strong>technologies</strong></div>
                    <div fxFlex></div>
                </div>

            </div>
        </mat-card-content>
    </mat-card>
</section>
