<mat-card>
  <mat-card-title>
      <h2>AJOUT D'UNE FORMATION</h2>
  </mat-card-title>
  <mat-card-content>
      <form [formGroup]="formationForm">
          <mat-form-field>
              <input matInput placeholder="Titre du Formation" formControlName="title"
              [(ngModel)]="this.formationItem.title"/>
              <mat-error>Titre du Formation est vide!</mat-error>
          </mat-form-field>
          <div class="formContent">

              <div class="fieldCol">
                  <mat-form-field>
                      <input matInput type="number" min="3" max="30" placeholder="Nombre des heures"
                      formControlName="nbHours"
                      [(ngModel)]="this.formationItem.nbHours">
                      <mat-error>Nombre des heures est vide!</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                      <mat-label>Date Début</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="dateStart"
                      [(ngModel)]="this.formationItem.dateStart">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error>Date Début est vide!</mat-error>
                  </mat-form-field>
              </div>
              <div class="fieldCol">
                  <mat-form-field>
                      <input matInput type="number" min="1" max="40"  placeholder="Nombre max des membres"
                      formControlName="nbSubscribers"
                      [(ngModel)]="this.formationItem.nbSubscribers">
                      <mat-error>Nombre max des membres est vide!</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                      <mat-label>Date Début</mat-label>
                      <input matInput [matDatepicker]="picker2" formControlName="dateEnd"
                      [(ngModel)]="this.formationItem.dateEnd">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                      <mat-error>Date Fin est vide!</mat-error>
                  </mat-form-field>
              </div>
          </div>

          <mat-form-field>
              <input matInput placeholder="Les technologies"
              formControlName="technologies"
              [(ngModel)]="this.formationItem.technologies"/>
              <mat-error>Liste des technologies est vide!</mat-error>
          </mat-form-field>
      </form>
  </mat-card-content>
  <mat-card-actions class="display_btn">
      <button mat-raised-button>Annuler</button>

      <button mat-raised-button cdkFocusInitial color="primary">Valider</button>
  </mat-card-actions>
</mat-card>